@import 'tailwindcss';

@custom-variant dark (&:is(.dark *));

@theme inline {
  /************ Polices ************/
  --font-sans: var(--font-geist-sans), 'Geist Fallback';
  --font-serif: var(--font-source-serif), Georgia, 'Times New Roman', serif;

  /************ Base Colors ************/
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);

  /************  Colors Of Echos Project ************/
  --color-brand-red: var(--brand-red);
  --color-brand-red-foreground: var(--brand-red-foreground);
  --color-brand-yellow: var(--brand-yellow);
  --color-brand-yellow-foreground: var(--brand-yellow-foreground);
  --color-shade: var(--shade);
  --color-shade-foreground: var(--shade-foreground);

  --color-ring: var(--ring);
}

/************ Theme clair ************/
:root {
  color-scheme: light;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --brand-red: oklch(0.52 0.2 27);
  --brand-red-foreground: oklch(0.985 0 0);
  --brand-yellow: oklch(0.9 0.13 100);
  --brand-yellow-foreground: oklch(0.205 0 0);
  --shade: oklch(0.8 0 0);
  --shade-foreground: oklch(0.99 0 0);
  --ring: oklch(0.708 0 0);
}

/************ Theme Dark ************/
.dark {
  color-scheme: dark;
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --ring: oklch(0.556 0 0);
}

@layer base {
  body {
    @apply bg-background text-foreground;
  }
  html {
    @apply font-sans;
  }
}